@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   IO2STREAM<br />
    TAMAN PERSONA, PARIT HAJI RAIS<br />
    <abbr title="Phone">Phone:</abbr>
    0167554535
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:nazrighazi02@example.com">io2stream@gmail.com</a><br /><br />
    <strong>Follow Our Instagram</strong> <br />
    <blockquote class="embedly-card"><h4><a href="https://www.instagram.com/nazri_g/?hl=en"> nazri_g * Instagram photos and videos</a></h4><p>1,250 Followers, 1,619 Following, 3 Posts - See Instagram photos and videos from nazri_g</p></blockquote>
    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script><br />
    <blockquote class="embedly-card"><h4><a href="https://www.instagram.com/deenalarif/?hl=en">Deenal Arif  * Instagram photos and videos</a></h4><p>413 Followers, 385 Following, 231 Posts - See Instagram photos and videos from Deenal Arif </p></blockquote>
    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script><br />
    <blockquote class="embedly-card"><h4><a href="https://www.instagram.com/udinsaid_12/?hl=en">Sarafudin_said⭐  * Instagram photos and videos</a></h4><p>525 Followers, 780 Following, 61 Posts - See Instagram photos and videos from Sarafudin_said⭐ </p></blockquote>
    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script><br />
    <blockquote class="embedly-card"><h4><a href="https://www.instagram.com/_imanmanan_/?hl=en">Iman Manan  * Instagram photos and videos</a></h4><p>1,702 Followers, 1,231 Following, 632 Posts - See Instagram photos and videos from Iman Manan </p></blockquote>
    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script><br />
    <blockquote class="embedly-card"><h4><a href="https://www.instagram.com/ikhwanhafizzudin/?hl=en">Hafizzudin Ikhwan  * Instagram photos and videos</a></h4><p>139 Followers, 144 Following, 7 Posts - See Instagram photos and videos from Hafizzudin Ikhwan </p></blockquote>
    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

</address>