
@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/Chart/highcharts.js"></script>
<script src="~/Scripts/Chart/exporting.js"></script>


<div class="jumbotron">

    <h1>LIMAS 2.0</h1>
    <p class="lead">Manage Books for the Library</p>
   
</div>

<div class="row">

    <div class="col-md-4">
        <div id="contain" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>



    <div class="col-md-4">
        <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
    </div>
    <script>

        $(document).ready(function () {

            $.getJSON("/Home/Statistics", function (result) {

                Highcharts.chart('container', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: 'Borrow and Return statistics of the Books'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            }
                        }
                    },
                    series: [{
                        name: 'Issued Book',
                        colorByPoint: true,
                        data: [{
                            name: 'Borrow',
                            y: result.Borrow

                        }, {
                            name: 'Return',
                            y: result.Return
                        }]
                    }]
                });



            });

        });


    </script>

    <script>

        $(document).ready(function () {

            $.getJSON("/Home/Statistics", function (result) {
                Highcharts.chart('contain', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Monthly Borrow and Return Book'
                    },

                    xAxis: {
                        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                    },
                    yAxis: {
                        title: {
                            text: 'Quantity'
                        }
                    },
                    plotOptions: {
                        line: {
                            dataLabels: {
                                enabled: true
                            },
                            enableMouseTracking: false
                        }
                    },
                    series: [{
                        name: 'Borrow',
                        data: [5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
                    }, {
                        name: 'Return',
                        data: [2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
                    }]
                });

            });

        });
    </script>
</div>